<nav id = "nav-bar">
    <span >
     <a class = "links" href = "/">Home</a> 
    
    <a class = "links" href = "/postimage">Post Image</a>
    
 
    <a class = "links" href = "/registration">Registration</a> 
    
    {{#if logged}}
    <a id ="nav-login-button" class = "links">Log Out</a> 
    {{else}}
    <a href = "/login" id ="nav-login-button" class = "links">Login</a> 
    {{/if}}   
    </span>
    
    <span id = "search">
        <input id = "search-text" type = "text" placeholder="  Search">
        <i id = "search-button" class = "fa fa-search" style = "font-size: 23px;"></i>
    </span>
    
     
</nav>