<nav id = "nav-bar">
    <a href = "/home">Home</a> |
    {{#if logged}}
    <a href = "/user/logut">Log Out</a> 
    {{else}}
    <a href = "/login">Login</a> 
    {{/if}}
    |
    <a href = "/registration">Registration</a> |
    <a href = "/postimage">Post Image</a> |
    <a href = "/viewpost">View Post</a> 
</nav>