
<head>
    <link rel="stylesheet" type="text/css" href="../public/css/index.css">
</head>
<body>
 
    
    <div id = "main-content"> 
       {{#each results}}
            {{> card this}}
       {{/each}}
    </div>
    
</body>