<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/public/css/login.css">
</head>
<body>
    

    
        <form>
            <div class = "login-grid">
                <header  class = "site-header">Login </header>

                <label id = "login-label" class = "username">Username: </label>
                <input type = "text" id = "login-input" class = "username-content"/>
           
                <label id ="login-label" class = "password">Password: </label>
                <input type = "password" id = "login-input"class = "password-content"/>

            
                

                
            </div>
            <br/><br/>
            <div id = "login-button">
                <button type = "submit">Submit</button>
            </div>
            
    
        </form>
    
   


</body>
</html>