
<head>
    <link rel="stylesheet" type="text/css" href="/public/css/login.css">
</head>
<body>
    

    
        <form method="POST" action="/users/login" enctype="application/x-www-form-urlencoded">
            <div class = "login-grid">
                <header  class = "site-header">Login </header>
 
                <label id = "login-label" class = "username">Username: </label>
                <input type = "text" id = "login-input" class = "username-content" name = "username" required/>
           
                <label id ="login-label" class = "password">Password: </label>
                <input type = "password" id = "login-input"class = "password-content" name = "password" required/>

            
                

                
            </div>
            <br/><br/>
            <div id = "login-button">
                <button type = "submit">Submit</button>
            </div>
            
    
        </form>
    
   


</body>
