<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Image</title>
    <link rel="stylesheet" type="text/css" href="/public/css/postimage.css">
</head>
<body>
    <header class = "site-header">
            Post an Image


    </header>

    <form>
        <div id = "post-image-container">
            <label>Pick a Title: </label>
            <br/>
            <input type = "text"/>
            <br/><br/>

            <label>Description:</label>
            <br/>
            <input type = "text" style = "height:80px; width: 600px"/>
            <br/><br/>

            <label>Pick an Image:</label>
            <br/><br/>
            <input type ="file" />
        </div>
        
        <br/><br/>

        <input type = "checkbox" />
        <label>Confirm that you accept our <a href = "https://acceptableusepolicy.com">Acceptable Use Policy</a> for uploading images.</label>
        <br/><br/>

     
        <button type = "Submit">Submit</button>

    </form>
</body>
</html>