
<head>
    <link rel="stylesheet" type="text/css" href="/public/css/postimage.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    

    <form id = "post-image" method = "POST" enctype="multipart/form-data" >
    <!-- action = '/posts/createPost'-->
        <div id = "post-image-container">
            <header class = "post-image-header">
            Post an Image
            </header>

            <label>Pick a Title: </label>
            <br/>
            <input class ="post-image-input" type = "text" name = "title" required/>
            <br/><br/>

            <label>Description:</label>
            <br/>
            <input class ="post-image-input" type = "text" style = "height:80px; width: 600px" name = "description" required/>
            <br/><br/>

            <label>Pick an Image:</label>
            <br/><br/>
            <input class ="post-image-input" type ="file" name = "uploadImage" required/>
        </div>
        
        <br/><br/>

        <div id = "checkbox-button-container">
            <input type = "checkbox" />
            <label >Confirm that you accept our <a href = "https://acceptableusepolicy.com">Acceptable Use Policy</a> for uploading images.</label>
            <br/><br/>

     
            <button id = "post-image-button" type = "Submit">Submit</button>

        </div>
        <script>
            const _form = document.getElementById('post-image');
            _form.onsubmit = function(event){
                event.preventDefault();
                let _body  = new FormData(_form);

                //fetch('/posts/createPost', {
                //    body: _body,
                //    method: "POST"
                //})
                //.then((data)=>{
                //    console.log(data);
                //    return data.json();
                //})
                //.then((dataAsObject)=>{
                //    console.log(dataAsObject);
                //    alert(dataAsObject.message);
                //    location.replace(dataAsObject.redirect); 
                //})
                //.catch(err => console.log(err));



                axios('/posts/createPost', {
                    data: _body,
                    method: "POST"
                })
                .then((data)=>{
                    console.log(data.data);
                    alert(data.data.message);
                    location.replace(data.data.redirect); 
                })
                .catch(err => console.log(err));
                
            }

        </script>

    </form>
</body>
