
<head>
    <link rel="stylesheet" type="text/css" href="/public/css/postimage.css">
</head>
<body>
    

    <form>
        <div id = "post-image-container">
            <header class = "post-image-header">
            Post an Image
            </header>

            <label>Pick a Title: </label>
            <br/>
            <input type = "text"/>
            <br/><br/>

            <label>Description:</label>
            <br/>
            <input type = "text" style = "height:80px; width: 600px"/>
            <br/><br/>

            <label>Pick an Image:</label>
            <br/><br/>
            <input type ="file" />
        </div>
        
        <br/><br/>

        <div id = "checkbox-button-container">
            <input type = "checkbox" />
            <label >Confirm that you accept our <a href = "https://acceptableusepolicy.com">Acceptable Use Policy</a> for uploading images.</label>
            <br/><br/>

     
            <button id = "post-image-button" type = "Submit">Submit</button>

        </div>
        

    </form>
</body>
