<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Posts</title>
    <link rel="stylesheet" type="text/css" href="/public/css/viewpost.css">
</head>
<body>

    
    <header>View Posts</header>
    <div id = "post-box">
        
        <label><strong>Title:</strong> Hannibal S2ep08: Su-Zakana</label>
        <br/>
        <label><strong>Author:</strong> Bryan Fuller</label>
        <br/>
        <label><strong>Creation Time:</strong> April 18, 2014 @1:00 pm</label>
        <br/>
        <label><strong>Image:</strong></label>
        <br/>
        <img src = "https://www.indiewire.com/wp-content/uploads/2019/05/hannibal_will.jpg" width = "500" height = auto alt = "Hannibal and Will from TV show Hannibal">
    </div>
    
        
    
    
</body>
</html>