body{
  margin-bottom:30px;
  background-color: #b83c3c;
  /* background-image: url("../images/Background/Sunset-Deer.jpg");
  background-color: #770202; */
  margin: 0;
  padding: 0;
}



.links{
  text-align: center;
  width: 150px;
  height: 100%;
  color: white;
  font-size: 23px;
  margin-left: 10px;
  float:left;
  /* font-family: sans-serif; */
  text-decoration: none;
}

.links:hover{
  /* height: 100%; */
  background-color: #7ebdce;
  color:#000000;
}

#search{
  float:right;
  margin-right: 20px;
  
}

#search-text{
  margin-right: 5px;
  margin-top: 4px;
  margin-bottom: 5px;
  font-size: 20px;
  /* float:right; */
  border-radius: 20px;
  width: 450px;
  border-radius: 25px;
  height: 25px;
}

#search-button{
  /* color:#7ebdce; */
  color: #7ebdce;
}


#nav-bar{
  margin-bottom: 50px;
  text-decoration: none;
  line-height: 35px;
  height: 40px;
  /* text-align: center; */
  background:#646464;
  color: white;
}

#footer{
  position: fixed;
  bottom:0;
  left:0;
  text-align: center;
  background:#000000;
  width: 100%;
  height: 30px;
  color:#7ebdce;
 
}


#banner{
  margin: 0px;
  line-height: 100px;
  text-align: center;
  background:#000000;
  width: 100%;
  height: 100px;
  color:#7ebdce;
  font-size: 30px;
}

h1,p{
  text-align: center;
}

#flash-message{
 
  height: 25px;
  width: 300px;
  border-radius: 3px;
  background-color:#7ebdce;
  
  color: #000000;
  position: fixed;
  left: 50%;
  top: 20%;
  transform: translate(-50%,0);
  z-index: 9999;
}

#flash-message > div{
  text-align: center;
}